<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SwitchManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SwitchManager.Properties.Settings>
            <setting name="DeviceID" serializeAs="String">
                <value>6265A5E4140FF804</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>US</value>
            </setting>
            <setting name="Firmware" serializeAs="String">
                <value>5.1.0-3.0</value>
            </setting>
            <setting name="Environment" serializeAs="String">
                <value>lp1</value>
            </setting>
            <setting name="TitleKeysURL" serializeAs="String">
                <value>http://snip.li/newkeydb</value>
            </setting>
            <setting name="HactoolPath" serializeAs="String">
                <value>hactool\hactool.exe</value>
            </setting>
            <setting name="KeysPath" serializeAs="String">
                <value>hactool\keys.txt</value>
            </setting>
            <setting name="ClientCertPath" serializeAs="String">
                <value>certs\client.pfx</value>
            </setting>
            <setting name="EShopCertPath" serializeAs="String">
                <value>certs\eshop-cert.cert</value>
            </setting>
            <setting name="MetadataFile" serializeAs="String">
                <value>library</value>
            </setting>
            <setting name="TitleKeysFile" serializeAs="String">
                <value>titlekeys.txt</value>
            </setting>
            <setting name="ImageCache" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="PreloadImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TitleCertPath" serializeAs="String">
                <value>certs\Certificate.cert</value>
            </setting>
            <setting name="TitleTicketPath" serializeAs="String">
                <value>certs\Ticket.tik</value>
            </setting>
            <setting name="NSPDirectory" serializeAs="String">
                <value>E:\Emulation\nws\roms\nsp</value>
            </setting>
            <setting name="NSPRepack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadBufferSize" serializeAs="String">
                <value>8192</value>
            </setting>
        </SwitchManager.Properties.Settings>
    </applicationSettings>
</configuration>