<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SwitchManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SwitchManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="default.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <applicationSettings>
    <SwitchManager.Properties.Settings>
      <setting name="DeviceID" serializeAs="String">
        <value>6265A5E4140FF804</value>
      </setting>
      <setting name="Firmware" serializeAs="String">
        <value>6.0.0-5.0</value>
      </setting>
      <setting name="Environment" serializeAs="String">
        <value>lp1</value>
      </setting>
      <setting name="TitleKeysURL" serializeAs="String">
        <value>https://snip.li/newkeydb</value>
      </setting>
      <setting name="HactoolPath" serializeAs="String">
        <value>hactool\hactool.exe</value>
      </setting>
      <setting name="KeysPath" serializeAs="String">
        <value>hactool\keys.txt</value>
      </setting>
      <setting name="ClientCertPath" serializeAs="String">
        <value>certs\client.pfx</value>
      </setting>
      <setting name="DownloadBufferSize" serializeAs="String">
        <value>8192</value>
      </setting>
      <setting name="NutURL" serializeAs="String">
        <value>https://snip.li/nutdb</value>
      </setting>
      <setting name="EShopCertPath" serializeAs="String">
        <value>certs\eshop.pfx</value>
      </setting>
      <setting name="MaxConcurrentDownloads" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="LoginCertPath" serializeAs="String">
        <value>certs\login.pfx</value>
      </setting>
    </SwitchManager.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <SwitchManager.Properties.Settings>
      <setting name="MetadataFile" serializeAs="String">
        <value>library</value>
      </setting>
      <setting name="ImageCache" serializeAs="String">
        <value>Images</value>
      </setting>
      <setting name="NSPDirectory" serializeAs="String">
        <value>D:\Emulation\nsw\roms\nsp</value>
      </setting>
      <setting name="NSPRepack" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumMetadataBackups" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>480</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>850</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerifyDownloads" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TempDirectory" serializeAs="String">
        <value>D:\Emulation\nsw\roms\nsp\tmp</value>
      </setting>
      <setting name="FilterText" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowDemos" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowDLC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowGames" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFavorites" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNew" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowOwned" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNotOwned" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowHidden" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SortColumn" serializeAs="String">
        <value />
      </setting>
      <setting name="SortDirection" serializeAs="String">
        <value />
      </setting>
      <setting name="ClientCertPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowUnlockable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowPreloaded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPreloadable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Region" serializeAs="String">
        <value>US</value>
      </setting>
      <setting name="XCIDirectory" serializeAs="String">
        <value>D:\Emulation\nsw\roms\xci</value>
      </setting>
      <setting name="SwitchDrivePath" serializeAs="String">
        <value>I:\</value>
      </setting>
    </SwitchManager.Properties.Settings>
  </userSettings>
</configuration>